{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Make the right moves.</h1>
        </div>
    </div>
</header>

<div class='container'>
    <div class="row">
        <center>
        <div class="col-8">
            <br><br>
            <p class="lead fw-normal text-black-50 mb-0" align="justify">{% lorem 4 b random %}             
            </p>
            <br><br>
        </div>
        </center>
    </div>
</div>

{% endblock %}