        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'core:home' %}">Fashion Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'core:about' %}">About</a></li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'core:home' %}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                
                                <li><a class="dropdown-item" href="{% url 'core:category' 'Clothing' %}">Clothing</a></li>

                                <li><a class="dropdown-item" href="{% url 'core:category' 'Consoles' %}">Gaming Consoles</a></li>

                                <li><a class="dropdown-item" href="{% url 'core:category' 'SmartWatches' %}">Smart Watches</a></li>

                                <li><a class="dropdown-item" href="{% url 'core:category' 'Phones' %}">Mobile Phones</a></li>
                            </ul>
                        </li>
                    </ul>



                    {% if user.is_authenticated %}

                    <form class="d-flex">
                        <a href="{% url 'cart:cart_summary' %}" class="btn btn-outline-dark" role="button">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">
                                {{ cart|length }}
                            </span>
                        </a>
                        
                    </form>

                    <a class="btn btn-outline-dark" href="{%  url 'core:logout'  %}">
                        <i class="bi-person-fill me-1"></i>
                        Logout
                    </a>


                    {% else %}
                    <a class="btn btn-outline-dark" href="{%  url 'core:login'  %}">
                        <i class="bi-person-fill me-1"></i>
                        Login
                    </a>
                    {% endif %}


                </div>
            </div>
        </nav>